body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
header#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #222;
    color: #fff;
}

header#main-header img {
    width: 50px;
    height: auto;
}
header#main-header button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.summary-info {
    margin-left: 32%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: #ffffff;
    padding: 50px;
    width: 30%;
    border-radius: 8px;
    border: 1px solid #ddd;
   border: 1px solid black;
    text-align: left;
}

.summary-info h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.summary-info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

/* Confirm Button Styling */
.confirm-button {
    background-color: black;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    font-size: 14px;
} 